body {
    background-color: #f1eeea;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}
button {
    width: 344px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type=image] {
    width: 344px;
}
#graphs {
    display: flex;
    flex-wrap: wrap;
    margin-left: -170px;
    visibility: hidden;
}
#show_charts {
    display:flex;
    flex-direction: column;
}
#stats {
    flex-direction: row;
}